/* Latin fonts (Roboto) */

@font-face {
	font-family: 'roboto';
	font-style: normal;
	font-weight: bold;
	src: 
		url('./fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'roboto';
	font-style: normal;
	font-weight: 300;
	src: 
		url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'roboto';
	font-style: normal;
	font-weight: normal;
	src: 
		url('./fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'roboto';
	font-style: normal;
	font-weight: 600;
	src: 
		url('./fonts/Roboto-Medium.ttf') format('truetype');
}

// variables:
$mainColor : #0E4E96;
$lightMainColor : #306AEF;
$navBorderColor : #1257A4;
$leoDark : darken($mainColor,10%);
$leoLight : lighten($mainColor,3%);

$mainViewHeight : calc(100vh - 30px);


// Mixin:
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
}

// Main Style
*, body , html {
	font-family: 'roboto', Helvetica, Arial, Times, serif;
    font-weight:normal;
    direction: ltr;
}
p {
    font-weight: 300;
}
html,
body {
    height: $mainViewHeight!important;
    min-height: $mainViewHeight!important;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
h1,h2,h3,h4,h5,h6 {
	font-family: 'roboto', Helvetica, Arial, Times, serif;
    font-weight:bold;
}
input,button, .button {
    height: 50px!important;
}
button, input[type="submit"], .button {
    font-weight: normal!important;
}
.buttons .button {
    height: auto!important;
}
.modal .actions .button {
    height: auto!important;
}
a.button {

    padding-top: 16px;
    padding-bottom: 16px;
}
.ui .sub {
    font-size: 13px!important;
    margin-top: 10px!important;
}
ul, li {
    list-style: none;
}
a , a:visited {-webkit-transition:color 0.1s linear;-moz-transition:color 0.1s linear;-o-transition:color 0.1s linear;transition:color 0.1s linear;text-decoration:none;color:#444; cursor:pointer;}
a:hover {color: $mainColor;}
body {
    background-color: #F5F5F5;
}
.wrapper { 
    width: 1180px;
    margin: 0 auto;
}
.subtitle {
    font-weight: 300;
    font-size: 11px;
    line-height: 1.68;
    color: #999999;
}
#verify {

    width: 735px;
    margin: 100px auto 0;

    .logo {
        margin: 40px auto 30px;
        width: 196px;
    }
    .verify-box {
        height: 405px;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: 0 0 25px #EDEDED;

        &.login {
            .ctn {
                .field {
                    margin: 20px 0 0 0;
              }
              p {
                  margin-top: 80px;
                  font-weight: bold;
              }
              input[type="text"]  {
                  margin-bottom: 0;
              }
              input[type="password"] {
               
                margin-bottom: 20px;
              }
            }
        }

        .ctn {
          width: 55%;
          height: 100%;
          float: left;
          text-align: center;

          h3 {
            font-size: 16px;
            color: #555;
            margin: 100px 0 10px 0;
          }

          span {
            color: #888;
            font-size: 12px;   
            font-weight: 300;
          }
          .verify-code {
              letter-spacing: 15px;
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    letter-spacing: 0;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    letter-spacing: 0;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    letter-spacing: 0;
                }
                &:-moz-placeholder { /* Firefox 18- */ 
                    letter-spacing: 0;
                }
          }
          .field {
                margin: 35px 0 0 0;
                position: relative;
            label {
                font-size: 11px;
            }
          }
          input[type="text"],input[type="password"] {
              margin: 0 0 15px 0;
              width: 320px;
              text-align: center;
              font-family: 'roboto'!important;
              font-size: 24px;

              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                
                font-size: 14px;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                
                font-size: 14px;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                
                font-size: 14px;
              }
              &:-moz-placeholder { /* Firefox 18- */
                
                font-size: 14px;
              }
              
          }
          button {
            width: 320px;
        }
            
        }
        
        .ctn-img {
            width: 45%;
            float: right;
            text-align: center;
            position: relative;
            border-left: 1px solid #eee;
            height: 100%;
  
            img {
              max-width: 250px;
              margin: 120px 10px 0 10px;
            }
          }
    }
    .copyright {
        font-size: 11px;
        color: #888;
        text-align: center;
        margin-top: 30px;
    }
}

.main {
    width: 100%;
    background-color: #fff;
    min-height: $mainViewHeight;
    margin-top: 30px;
    border-radius: 4px;
    border-top-right-radius: 45px;

    .sidebar {
        width: 250px;
        background-color: $mainColor;
        min-height: $mainViewHeight;
        height: 100%;
        border-top-right-radius: 45px;
        float: right;

        .avatar {
            width: 100px;
            height: 100px;
            display: block;
            margin: 60px auto 0;
            color: #fff;
            text-align: center;
            border-radius: 130px;
            overflow: hidden;


            img {
                width: 100%;
                height: auto;
            }
        }
        .details {
            text-align: center;
            color: #fff;

            p.name {
                font-weight: bold;
                font-size: 16px;
                margin: 15px 0 8px;
            }
            span {
                display: block;

                font-weight: 300;
                font-size: 12px;
            }
            span.wallet {
                margin-bottom: 16px;
                font-size: 13px;
            }

            .button {
                height: 32px!important;
                font-size: 13px;
                line-height: 14px!important;

                &:hover {
                    background-color: #255EE1!important;
                }
            }
        }
        nav {
            margin-top: 70px;

            ul {
                padding: 0;

                li {
                    height: 53px;
                    color: #fff;
                    font-size: 14px;
                    list-style: circle;
                    border-bottom: 1px solid $navBorderColor;
                    line-height: 50px;
                    -webkit-transition:background-color 0.1s linear;
                    -moz-transition:background-color 0.1s linear;
                    -o-transition:background-color 0.1s linear;
                    transition:background-color 0.1s linear;
                    -webkit-transition:padding-right 0.1s linear;
                    -moz-transition:padding-right 0.1s linear;
                    -o-transition:padding-right 0.1s linear;
                    transition:padding-right 0.1s linear;




                    font-weight: normal;


                    &:hover {
                        background-color: $lightMainColor;
                        padding-right: 10px;
                        border-right-color: #fff;
                        border-right-width: 5px;
                        border-right-style: solid;


                    }

                    a {
                        color: #fff;
                        display: block;
                        padding-right: 25px;
                        

                        i {
                            margin-left: 8px;
                        }
                        span.count {
                            background: red;
                            width: 26px;
                            height: 26px;
                            display: inline-block;
                            text-align: center;
                            line-height: 26px;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
        
        .copyright {
            font-size: 9px;
            color:rgba($color: #ffffff, $alpha: 0.65);
            text-align: center;
            margin-top: 30px;
            width: 250px;
            font-weight: 300;
            float: left;
            margin-top: 60px;
            margin-bottom: 60px;

            .spodcreative {
                color: yellow;
            }
        }
    }

    header {
        float: right;
        width: 930px;
        padding: 40px;

        .logo {
            width:200px;
            float: right;
        }
        .menu {
            ul {
                li {
                    float: left;
                    margin-right: 35px;
                    font-size: 12px;
                    padding-bottom: 10px;
                    position: relative;
                    z-index: 99;

                    -webkit-transition:transform 0.1s linear;
                    -moz-transition:transform 0.1s linear;
                    -o-transition:transform 0.1s linear;
                    transition:transform 0.1s linear;
                    
                    
                    ul {
                        position: absolute;
                        background-color:$mainColor;
                        width: 160px;
                        text-align: right;
                        //border: 1px solid #eee;
                        top: 33px;
                        right: -5px;
                        display: none;
                        padding: 0;
                        border-radius: 4px;
                        //box-shadow: 0 0 10px #e5e5e5;
                        

                        & li {
                            border-bottom: 1px solid #064081;
                            margin-right: 0!important;
                            width: 100%;
                            padding: 0;

                            &:hover {
                                transform: translateY(0);
                                border-bottom: 1px solid #064081;
                                background-color:$lightMainColor;
                            }

                            & a {
                                display: block;
                                padding: 10px 15px;
                                color: #fff;

                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }

                    &:hover {
                        transform: translateY(-3px);
                        border-bottom: 1px solid $mainColor;

                        ul {
                            display: block;
                        }
                    }

                    a {
                        color: #929292;
                        font-family: 'roboto';
                        font-weight: 300;

                        &:hover {
                            color: $mainColor;
                        }
                    }
                    span.count {
                        background: red;
                        width: 22px;
                        height: 22px;
                        display: inline-block;
                        text-align: center;
                        line-height: 22px;
                        border-radius: 20px;
                        position: absolute;
                        top: -10px;
                        color: #fff;
                        left: -15px;
                    }
                }
            }
        }

    }

    .content {
        width: 930px;
        padding:0 40px 65px;
        float: right;

        .empty_state {
            text-align: center;
            margin-top: 20px;

            p {
                font-size: 12px;
                color: #888;
            }
            
            a {
                width: 320px;
                margin-top: 35px;
            }
        }

        .header {
            margin: 40px 0 50px;
        }
    }

    .tracking {
        width: 65%;
        height: 300px;
        margin: 100px auto;
        text-align: center;
    }


    &.no-sidebar
    {

        header {
            width: 100%;
        }
        .content {
            width: 100%;
        }

    }

}
.status {

    margin-bottom: 15px;

    .box {
        //border:1px solid #eee;
        height: 160px;
        border-radius: 4px; 
        padding: 10px 20px;
        text-align: center;
        box-shadow: 0 5px 15px rgba(#2B263E, .1);
        background-color: #2B263E;
        color:#fff;

        h1 {
            font-size: 48px;
            padding: 0;
            margin: 5px 0 0;
        }
        p {
            padding: 0;
            margin: 0;
            margin: 5px 0 0;
        }
        &.doing {
            background-color: #2B263E;
            
        }
        &.done {
            background-color: #73C5DA;
        }
        &.price {
            background-color: #EE6263;
        }
        .button {
            height: 32px!important;
            background-color: rgba($color: #ffffff, $alpha: 0.3)!important;
            margin-top:8px;
            width: 60%;
            border: none!important;
            box-shadow: none!important;

            margin: 5px 0 0;
        }
    }
}

footer {
    width: 100%;
    background-color: $mainColor;
    height: auto;
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    border-radius: 0 0 24px 24px;
    margin-bottom: 25px;

    p {
        font-weight: 300;
    }
    .container {
        padding: 40px;
        text-align: right;
    }
    #spod {
        color: #fff;
    }
    .menu {
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style-type: circle;
                a {
                    color: #fff;
                    margin-top: 5px;
                    display: inline-block;
                }
            }
        }
    }
}

.boxset {

    width: 735px;
    margin: 0 auto;

    .logo {
        margin: 0 auto 30px;
        max-width: 100%;
    }
    .boxset-b {
        height: 405px;
        border-radius: 12px;
        background-color: #fff;

        //box-shadow: 0 0 20px #f2f2f2;

        .ctn {
          width: 55%;
          height: 200px;
          float: left;
          text-align: center;

          p {
            font-size: 16px;
            color: #555;
            margin: 110px 0 10px 0;
          }

          span {
            color: #888;
            font-size: 12px;   
            font-weight: 300;
          }
          .boxset-code {
              letter-spacing: 15px;
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    letter-spacing: 0;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    letter-spacing: 0;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    letter-spacing: 0;
                }
                &:-moz-placeholder { /* Firefox 18- */ 
                    letter-spacing: 0;
                }
          }
          input[type="text"] {
              margin: 35px 0 15px 0;
              width: 320px;
              text-align: center;
              font-family: 'roboto'!important;
              font-size: 24px;
              position: relative;


              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                
                font-size: 14px;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                
                font-size: 14px;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                
                font-size: 14px;
              }
              &:-moz-placeholder { /* Firefox 18- */
                
                font-size: 14px;
              }
              
          }

          label {
            position: absolute;
            top: 36px;
            z-index: 99;
            left: 7px;
            width: 40px;
            background: white;
            height: 48px;
            line-height: 50px;
          }
          button {
            width: 320px;
        }
            
        }
        .ctn-img {
          width: 45%;
          float: left;
          text-align: center;
          position: relative;
          margin: 0 0 0;

          img {
            @include centerer();
            max-width: 280px;
          }
        }
    }
    .copyright {
        font-size: 11px;
        color: #888;
        text-align: center;
        margin-top: 30px;
    }
}

#profile {

    width: 720px;
    margin: 0 auto;

    .profile_image {
        text-align: center;
        width: 220px;
        height: 220px;
        border-radius: 125px;
        overflow: hidden;
        border: 8px solid #E4E6EB;
        margin: 0 auto;

        &:hover {
            .avatar_upload  {
                opacity: 1;
                -webkit-transition:opacity 0.1s linear;
                -moz-transition:opacity 0.1s linear;
                -o-transition:opacity 0.1s linear;
                transition:opacity 0.1s linear;
            }
        }

        img {
            width: 100%;
            height: auto;


            
        }
        .avatar_upload {
            width: 60px;
            height: 60px;
            border-radius: 60px;
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.8);
            top: 85px;
            left: 85px;
            cursor: pointer;
            text-align: center;
            color: #fff;
            line-height: 50px;
            opacity: 0;
        }
    }
    .edit-form {

        margin: 0 auto;
        width: 436px;

        h3 {
            margin: 20px 0;
        }
    }
    .right {
        width: 120px;
    }
    .left {
        width: 300px;
        float: left;
    }
    .inline.field {

        label {
            width: 120px;
            text-align: left;
        }
        input {
            width:300px;
        }
    }
    .button {
        width: 100%;
        margin: 15px 0;
    }

    .change_password {
        margin: 20px 0 0 0; 
    }
}
.center_box {
    width:560px;
    margin: 60px auto 0;

    .logo {
        display: block;
        margin-bottom: 30px;
    }
    .ctn {
        box-shadow: 0 0 20px #EDEDED;
        border-radius: 12px;
        padding: 50px;
        background-color: #fff;
        
        .button {
            width: 100%;
        }
    }
}
#address {

    select {
        font-family: 'roboto';
        height: 50px;

        option {
            font-family: 'roboto';
        }
    }
    ul {

        width: 100%;
        margin: 30px auto 0;



        li {

            margin: 0 0 10px 0;

            .address-box {
                padding: 20px 35px;
                border: 1px solid #ddd;
                border-radius: 4px;

                -webkit-transition:background-color 0.1s linear;
                -moz-transition:background-color 0.1s linear;
                -o-transition:background-color 0.1s linear;
                transition:background-color 0.1s linear;

                font-size: 13px;

                &:hover {
                    background-color: #f8f8f8;
                }
                


                h3 {
                    i {
                        font-size: 10px;
                    }
                }
                .right {
                    width: 90%;
                    float: right;
                }
                .left {
                    width: 10%;
                    float: left;
                    text-align: left;

                }

                p {
                    margin-bottom: 4px;
                }
                
                span {
                    font-weight: bold;
                }
            }
        }
    }

    .button {
        margin: 30px auto;
        width: 30%;
        font-size: 13px;
    }

    .add-address-div {
        width:100%;
        text-align: center;
    }
    .buttons .button {
        margin:0!important;
        width: 100%;
    }
}

#checkout {


    section {

        border-top: 1px dashed #ddd;
        padding-top: 55px;
        margin-top: 55px;


    }
    .qty input {
        width: 80px;
        text-align: center;
        margin: 0 auto;
    }

    .actions {
        width: 100%;


        .coupon {

            float:left;
            width: 380px;

            input {
                width: auto!important;
                border-top-left-radius:0!important; 
                border-bottom-left-radius:0!important; 
            }
            .button {
                margin-left:0!important;
                border-top-right-radius:0!important; 
                border-bottom-right-radius:0!important; 
            }
        }

        .action {
            width: 100%;
            margin: 15px auto 15px;
            text-align: center;

            .button:first-of-type {
                margin-left:0;
            }
        }

        .button {
            width: 30%;
        }
    }

    .button.delete {
        font-size: 10px;
        padding: 5px 5px;
        height: 36px !important;
        margin: 0 auto;
        display: block;
        line-height: 20px;
    }
}
#product_single {

    margin-top: 30px;


    .price {
        text-align: center;
        font-size: 22px;
    }

    .button.primary {
        width: 210px!important;
        float: left;
        margin: 0;
        margin-top: 30px;

        .left_arrow {
            background: url(../../library/img/left-arrow.png) no-repeat 0 0 transparent;
            width: 7px;
            height: 16px;
            background-size: cover;
            float: left;
        }
    }

    .meta {
        width: 260px;
        float: right;

        .img {
            width: 100%;
            // height:260px;
            // background-color: #eee;

            img {
                width: 100%;
            }
        }

        .button {
            width: 100%;
            margin-top: 30px;
        }
    }

    .attribute {
        width: 700px;
        float: left;
        padding-right: 0;
        color: #929292;
        font-weight: 300!important;

        label {

        color: #929292;
            font-weight: 300;
        }

        .three.wide {
            padding-top: 30px;
            font-weight: 300!important;
        }

        .dropdown {
            height: 50px!important;
            font-weight: 300!important;
        }

        .ui.selection.dropdown {
            line-height: 25px!important;
        }
        .ui.selection.dropdown > .search.icon, .ui.selection.dropdown > .delete.icon, .ui.selection.dropdown > .dropdown.icon {
            top: 15px!important;
        }
        

        #file_upload {

            margin: 40px 0 0 0;
            width: auto;

            .five.wide {

                padding-top: 30px!important;
                font-weight: 300!important;

                p , span {
                    font-size: 11px;
                    margin: 0;
                    padding: 0;
                }

                p {
                    margin-top: 12px;
                }
            }

            .five.wide, .eleven.wide {
                padding: 0;
            }
            .dropzone {
                width: 175px;
                height: 175px;
                float: left;
                border: 1px dashed rgba(0,0,0,0.3);
                border-radius: 4px; 
                margin-right: 10px;

                .dz-preview {
                    margin: 5px!important;
                }
    
                .dz-message {
                    margin-top: 40px;
                    h3 {
                        margin: 0;
                        font-size: 16px;
                        margin-bottom: 5px;
                        color:#444;
                    }
                    span {
                        font-weight: 300;
                        color:#929292;
                        font-size: 12px;
                    }
                }
            }
        }

        
    }

}
.modal .actions .form {
    width: auto;
    float: right;
}
.clr {
    clear: both;
}
.copyright {
    font-size: 11px;
    color: #888;
    text-align: center;
    margin-top: 30px;
}

.center_message {
    text-align: center;
}
////////// SEMANTIC CUSTOMIZE ///////////
.ui.table thead th {
    //background-color: $lightMainColor;
    //olor: #fff;
}
.ui.primary.button {
    background-color: #007bff;
}
.ui.primary.button:hover {
    background-color: lighten($color: #007bff, $amount: 5);
}
#add_address {
    
    .dropdown {
        height: 50px !important;
font-weight: 300 !important;
    }
}
#category {

    .card {
        width: 23.7333333% !important;
        .content {
            width: 100%!important;
        }
    }
}
.inputfile {
	width: 0.1px!important;
	height: 0.1px!important;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    
}
.inputfile + div {
    width: 175px;
    height: 175px;
    float: left;
    border: 1px dashed rgba(0,0,0,0.3);
    border-radius: 4px; 
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}
.inputfile.error + div {

    border: 1px dashed #E0B4B4;
}
.inputfile.error + div {

    border: 1px dashed #E0B4B4;
    background: #FFF6F6;
}
.inputfile.error + div label {

    color: #9F3A38;
}
.image_holder label {
    display: block;
    text-align: center;
    line-height: 175px;
    cursor: pointer;

	z-index: 999;
}
.image_holder img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.image_holder p {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: blue;
    color: #fff;
    border-radius: 25px;
    padding-top: 11px;
    padding-right: 3px;
    display: none;
}
.image_holder:hover img + p  {
    display: inline-block;
}
.inputfile:focus + div,
.inputfile + div:hover {
    background-color:#f5f5f5;
}
.inputfile + div {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + div {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile:focus + div,
.inputfile.has-focus + div {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.ui.form .required.fields:not(.grouped) > .field > label::after, .ui.form .required.fields.grouped > label::after, .ui.form .required.field > label::after, .ui.form .required.fields:not(.grouped) > .field > .checkbox::after, .ui.form .required.field > .checkbox::after 
{
    content: ''!important;
}
.ui.form .required.fields:not(.grouped) > .field > label::before, .ui.form .required.fields.grouped > label::before, .ui.form .required.field > label::before, .ui.form .required.fields:not(.grouped) > .field > .checkbox::before, .ui.form .required.field > .checkbox::after 
{
    margin: -0.2em 0em 0em 0.4em ;
    content: '*';
    color: #DB2828;
}

.ui.cards > .card > .buttons, .ui.card > .buttons, .ui.cards > .card > .button, .ui.card > .button {
    line-height: 22px!important;
}

.ui.blue.buttons .button, .ui.blue.button {
    background-color: $lightMainColor;
    font-weight: 300;
}
a .ui.blue.buttons .button:hover, a .ui.blue.button:hover {
    background-color: #255EE1!important;
}
.ui.cards > .card > .content > .meta + .description, .ui.cards > .card > .content > .header + .description, .ui.card > .content > .meta + .description, .ui.card > .content > .header + .description 
{
    font-size: 12px;
}
.ui.cards > .card > .content > .header:not(.ui), .ui.card > .content > .header:not(.ui) {
    margin: 0 0 10px 0!important;
}
a.ui.button {
    line-height: 28px!important;
}

.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;

    label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }
 
  .shipping {


    .header {
        margin-bottom: 25px;
    }

    .shipping_select:first-of-type {

        .ctn {
            margin: 0 0 0 0;

        }

    }


    
  }

  .payment {

    .button {
        width: 240px;
    }
    .zarinpal {
        background-color: #FFCE00!important;
        color: #222852!important;
        margin-top: 20px;
    }

    .description {
        width: 75%;
        margin: 0 auto 40px;
        text-align: center;

        textarea {
            font-family: 'roboto';
            font-size: 16px;
        }
        h3.header {
            margin-bottom: 30px!important;
            margin-top: 15px!important;
        }
    }

    .bank {
        width: 40%;
        float: right;

        .radio_select {
            width: 100%!important;

            
            .ctn {

                margin: 0 0 0 0;
                border: 1px solid #eee;
        
                .icon {
                    width: 30%;
                    float: right;
                    height: 86px;
                    border-left: 1px solid #eee;
                    overflow: hidden;
                    text-align: center;
        
                    img {
                        width: auto;
                        height: 86px;
                    }
                }

                p {
                    font-size: 10px;
                    font-weight: 300;
                }
            }
        }
    }

  }


  #address {

    .radio_select {
        width: 50%!important;

        
        .ctn {

            margin: 0 0 0 0;
            border: 1px solid #eee;
    
            .icon {
                width: 30%;
                float: right;
                height: 58px;
                border-left: 1px solid #eee;
                overflow: hidden;
                text-align: center;
    
                img {
                    width: auto;
                    height: 58px;
                }
            }
        }
    }
  }



  .radio_select {
    width: 50%;
    float: right;
    position: relative;
    margin-bottom: 15px;

    
    &.disabled {
        opacity: 0.5;
    }

    .ctn {

        margin: 0 15px 0 0;
        border: 1px solid #eee;
        border-radius: 4px;


        .icon {
            width: 20%;
            float: right;
            height: 90px;
            border-left: 1px solid #eee;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }


        p{
            margin-top: 10px;
        }


        label {
            padding: 20px 25px;
            width: 80%;
            display: block;
            text-align: right;
            color: #3C454C;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;

        
              &:before {
                width: 22px;
                height: 22px;
                content: '';
                border: 2px solid #D1D7DC;
                background-color: #fff;
                background-repeat: no-repeat;
                background-position: 2px 3px;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: all 200ms ease-in;
            }



            &:after {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                content: '';
                background-color: $mainColor;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale3d(1, 1, 1);
                transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
                opacity: 0;
                z-index: -1;
            }

        }


        input:checked ~ label {
            color: #fff;
      
            &:after {
              transform: translate(-50%, -50%) scale3d(56, 56, 1);
              opacity: 1;
            }
      
            &:before {
              background-color: #54E0C7;
              border-color: #54E0C7;
            }
          }
      
          input {
            width: 32px;
            height: 32px;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden;
          }

        
    }
}


#review {

    width: 540px;
    margin: 0 auto 80px;

    .subtitle {
        margin-top: 8px;
        display: inline-block;
    }

    ul {
        border: 1px solid #EAEAEA;
        padding: 0;
        margin: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &.footer {
            border-top: none;

            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;

            li {
                background-color: #FBFBFB;
                padding: 0;
            }
            .item {
                width: 60%;
                border-left:1px solid #EAEAEA;
                padding: 15px;
            }

            .price {
                width: 40%;
                padding: 15px;
            }
        }

        

        li {
            width: 100%;
            border-bottom: 1px solid #EAEAEA;
            padding: 25px 20px 15px;

            &:last-child {
            
                border-bottom:none; 
            }

            &.description {
                span {
                    font-size: 12px;
                    font-weight: 300!important;
                    color: #6A6A6A;
                }

            }
            .images {
                width: 18%;
                float: right;

                .container {
                    width: 63px;
                    height: 58px;
                    position: relative;

                    img {
                        width: 100%;
                    }

                    .img1 {
                        width: 48px;
                        height: 48px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: #E7E7E7;
                        
                    }
                    .img2 {
                        width: 48px;
                        height: 48px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-color: #E7E7E7;
                    }
                }
            }
            .item {
                width: 62%;
                float: right;
                font-size: 13px;
                h4 {
                    margin-bottom: 8px;
                    color: #6A6A6A;
                    font-size: 14px;
                }
                p {
                    margin-bottom: 2px;
                    color:#A3A3A3;

                    span {
                        font-weight: 300;
                    }
                }

                span.address {
                    display: inline-block;
                    font-size: 11px;
                    margin-right: 30px;
                    margin-top: 2px;
                }
            
            }
            .price {
                width: 20%;
                float: right;
                text-align: left;
                color: #6A6A6A;
                font-weight:300;
            }
        }
    }

    section {

        text-align: center;
        margin-top: 70px;
        color: #6A6A6A;
    }

    .coupon, .payment {


        h3 {
            font-size: 16px;
            margin: 0 0 8px;

            img {
                margin-left: 8px;
                vertical-align: middle;
            }
        }

        p {
            font-size: 12px;
            margin: 0;
            font-weight: 300;
        }

        .input {
            width: 70%;
            margin:20px 0 0 0;

            input {
                width: 250px;
            }

            .button {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }

        .bank {
            width: 320px;
            margin: 15px auto;
            border: 1px solid #EAEAEA;
            padding: 10px;
            border-radius:4px; 
            float: none;

            &:hover {
                background-color: #f8f8f8;
                cursor: pointer;
            }

            img {
                vertical-align: middle;
                margin-left: 30px; 
            }
        }
    }
}

.receipt {
    background-color: #fff;
    width: 300px;
    padding: 0 25px 25px;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    margin: 65px auto 0;
    text-align: center;
    color: #656565;

    .icon {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        border: 3px solid #fff; 
        margin: -35px auto 0;

        img {
            margin: 22px auto 0;
            vertical-align: middle;
        }
    }
    .success {
        background: url('../../library/img/check.svg') center center no-repeat #4FBE2A;
    }
    .failed {
        background: url('../../library/img/close.svg') center center no-repeat #FF455B;
    }

    .top {
        padding: 20px 0 25px;
        border-bottom: 1px dashed #D3D3D3;
    }

    .ctn {
        padding: 35px 0 25px;

        .ref {
            margin: 40px 0 10px;
        }
        h3 {
            margin: 0!important;
        }
    }
}

.wallet-pay {
    margin-top: 25px;

    .button {
        margin-top: 10px;
    }
}

.message .header {
    margin: 0!important;
}
.ui.form .inline.fields > label {
    margin: 0.035714em 0.35em 0em 1em;
}

.progressbar {
    counter-reset: step;
    direction: ltr;
    float: right;
    width: 100%;
    margin: 40px auto 65px;
    padding: 0;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: right;
    font-size: 13px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 40px;
    border: 2px solid #ccc;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    z-index: 999;
}
.progressbar li:after {
    width: 80%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #ccc;
    top: 20px;
    right: -40%;
    z-index: 0;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
    background-color:  #55b776;
    color: #fff;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}